

#front-btn {
    padding: 10px;
    background: linear-gradient(to right, #ffffff, #f48e8e);
    border: none;
    border-radius: 10px;
    text-align: center;
 position: relative;
 left: 50px;
 width: 70px;
 top: 10px;
  font-size: medium;
}

#black-btn {
padding: 10px;
    background: linear-gradient(to right, #ffffff, #f48e8e);
    border: none;
    border-radius: 10px;
    text-align: center;
 position: relative;
 left: 50px;
 width: 70px;
 top: 10px ;
 font-size: medium;
}

#front-btn:hover, #black-btn:hover {
    transform: scale(1.1);
}

.img {
    border-radius: 70px;
    border: 5px solid rgb(224, 103, 123);
}

body {
    background: linear-gradient(to right, #fcb5b5, #fff);
}

.text {
    position: relative;
    bottom: 170px;
    left: 20px;
    font-size: x-large;
    color: #ff0000;
    font-weight: bold;
}


/* git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Camille061/love.git
git push -u origin main */